*,
*:before,
*:after {
    box-sizing: border-box; 
}

html {
    font-family: 'Outfit', sans-serif;
    font-size: 62.5%;
    background-color: hsl(212, 45%, 89%); 
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    padding-top: 2rem;
    line-height: 3rem;
}

p {
    font-size: 1.5rem;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    padding: 2rem;
    line-height: 1.7rem;
}

.img-fluid { 
    max-width: 100%;
    height: auto;
    border-radius: 5%;
}

.container {
    display: grid;
    height: 100%;
}

main {
    height: 100vh;
}

.card {
    display: grid;
    max-width: 36rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5%;
    padding: 2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    place-self: center;
}

@media only screen and (max-width: 375px) {
    .card {
        margin: 0 2.5rem ;
    }
  }